
.register-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  
  .register-container h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .register-container form div {
    margin-bottom: 15px;
  }
  
  .register-container label {
    display: block;
    margin-bottom: 5px;
  }
  
  .register-container input[type="name"],
  .register-container input[type="text"],
  .register-container input[type="email"],
  .register-container input[type="password"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .register-container button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .register-container button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
